body {
    font-family: 'Merriweather Sans', sans-serif;
    color: #333;
    font-size: 12pt;
  }

.header-img {
    max-height: 10em;
    padding: 1em;
}

.header-row {
    margin-top: 0;
    background-color: #fff;
    height: 10em;
}

.navbar {
    padding: 1.5em;
    background-color: black;
}

.navbar-dark .navbar-nav .navbar-text {
    color: #fff;
    font-size: 1em;
    margin-left: 2em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 1em;
    margin-left: 2em;
}

.nav-link:hover {
    color: #fff;
    text-decoration: underline;
}

.dropdown-item {
    padding: 1em;
    color: black;
}

h1 {
    margin-top: 1em;
}