{% extends 'base.html.twig' %}

{% block title %}Description{% endblock %}

{% block body %}
    <h1>Description for {{ description.course }}</h1>

    {{ description.body|raw }}

    {% if course %}
    <a class="cmp-button" href="{{ path('description_edit', {'id': description.id, courseid: course.id}) }}">edit</a>
        {{ include('description/_delete_form.html.twig') }}
    {%  endif %}


{% endblock %}
