{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    <p>NB: Your name here must match your name as it is listed in the course listings.</p>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
